.wrapper {
  background-color: black;
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    background-color: blanchedalmond;
    header {
      h3 {
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          cursor: pointer;
        }
        li + li {
          margin-left: 16px;
        }
      }
    }
  }
}
