.wrapper {
  background-color: transparent;
  color: #fff;
  header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    .container {
      max-width: 1280px;
      margin: 0 auto;
      h3 {
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        li + li {
          margin-left: 16px;
        }
        li.active {
          cursor: auto;
          text-decoration: none;
          color: #f26666;
        }
      }
    }
  }
}
