.wrapper {
  background-color: black;
  color: #fff;
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    // background-color: blanchedalmond;
    position: relative;
    header {
      position: absolute;
      top: 0;
      left: 0;
      h3 {
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        li + li {
          margin-left: 16px;
        }
        li.active {
          cursor: auto;
          text-decoration: none;
          color: #f26666;
        }
      }
    }
  }
}
