$color_totoro: rgb(193, 211, 215);
$color_totoro_1: rgb(36, 61, 68);
$color_totoro_2: rgb(211, 176, 122);
$color_totoro_3: rgb(159, 172, 129);

.popContent {
    width: 900px;
    max-width: 100%;
    height: 60vh;
    overflow: auto;
    .imgBox {
        position: relative;
        height: 100%;
        display: flex;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .describe {
        padding: 100px 20px 20px 20px;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background-color: $color_totoro;
        } /* the new scrollbar will have a flat appearance with the set background color */

        &::-webkit-scrollbar-thumb {
            background-color: $color_totoro_1;
        } /* this will style the thumb, ignoring the track */
        h6 {
            color: $color_totoro_1;
            font-weight: bolder;
            margin-bottom: 30px;
        }
        small {
            font-size: 10px;
            color: $color_totoro_2;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.6);
        }
    }
    @media screen and (max-width: 768px) {
        .describe {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: rgba(255, 255, 255, 0.5);
            transform: translate(-50%, -50%);
            width: 80%;
            height: 80%;
            overflow: auto;
        }
    }
}
