// size
$size_mobile: 480px;

$color_blue: #2d316f;
$color_green: #2ac489;
$color_green_light: #a6e4dc;
$color_yellow: #f5ba09;
$color_white: #fff;
$color_cover: rgba(0, 0, 0, 0.3);

%button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: $color_white;
  background-color: $color_green;
  &:hover {
    background-color: $color_yellow;
  }
}
%button_secondary {
  color: $color_green;
  border: 1px solid $color_green;
  background-color: $color_white;
  &:hover {
    color: $color_yellow;
    border: 1px solid $color_yellow;
  }
}
%button_disabled {
  background-color: $color_green_light;
  cursor: not-allowed;
}
@mixin square($w, $h: $w, $r: 0) {
  width: $w;
  height: $h;
  @if $r != 0 {
    border-radius: $r;
  }
}

.wrapper {
  color: #999;
  background-image: url("/image/f2e_sign.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: calc(100vh - 50px);
  canvas {
    border: 1px solid $color_green;
  }
  input[type="file"] {
    display: none;
    opacity: 0;
  }
  label,
  button {
    @extend %button;
  }
  .loading {
    text-align: center;
  }
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: $color_cover;
    > button:disabled {
      @extend %button_disabled;
    }
    > button {
      margin-left: 20px;
    }
  }
  .fileContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .signArea {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    > div {
      background-color: #fff;
      padding: 20px;
      text-align: right;
      .header {
        > button {
          @extend %button_secondary;
          margin-bottom: 8px;
          > svg {
            transform: rotate(45deg);
          }
        }
      }
      .buttonsContainer {
        > button:first-child {
          @extend %button_secondary;
        }
        > button + button {
          margin-left: 20px;
        }
      }
    }
  }
  .signArea.hide {
    display: none;
    visibility: 0;
    opacity: 0;
  }
  @media screen and (max-width: $size_mobile) {
    label,
    button {
      > span {
        display: none;
      }
    }
  }
}
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  div::after {
    content: " ";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $color_yellow;
    margin: -4px 0 0 -4px;
  }
  div:nth-child(1) {
    animation-delay: -0.036s;
  }
  div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  div:nth-child(2) {
    animation-delay: -0.072s;
  }
  div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  div:nth-child(3) {
    animation-delay: -0.108s;
  }
  div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  div:nth-child(4) {
    animation-delay: -0.144s;
  }
  div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  div:nth-child(5) {
    animation-delay: -0.18s;
  }
  div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  div:nth-child(6) {
    animation-delay: -0.216s;
  }
  div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  div:nth-child(7) {
    animation-delay: -0.252s;
  }
  div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  div:nth-child(8) {
    animation-delay: -0.288s;
  }
  div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.tutorial {
  z-index: 5;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color_green_light;
  color: $color_blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3,
  p {
    text-align: center;
  }
  h3 {
    font-size: 56px;
    font-weight: bolder;
    padding-bottom: 20px;
    text-shadow: 5px 5px 5px $color_white;
    &::before {
      content: "";
      position: absolute;
      top: 5vw;
      left: 5vw;
      @include square(15vw, 15vw, 50%);
      border: 5px solid $color_yellow;
    }
    &::after {
      content: "";
      position: absolute;
      top: 5vw;
      left: 5vw;
      @include square(80px, 80px, 50%);
      background-color: $color_yellow;
    }
  }
  p {
    font-size: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background-color: $color_yellow;
    }
  }
  .steps {
    width: 500px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 100px;
      display: flex;
      flex-direction: column;
      text-align: center;
      > div {
        @include square(36px, 36px, 50%);
        background-color: $color_blue;
        margin: 0 auto;
        position: relative;
        color: $color_white;
        display: inline-block;
        line-height: 34px;
      }
      > span {
        line-height: 36px;
      }
    }
    > div:first-child,
    > div:nth-child(2) {
      > div {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(100%, -50%);
          width: 180px;
          height: 5px;
          background-color: $color_blue;
        }
      }
    }
  }
  .circles {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    width: 100%;
    > div {
      @include square(10px, 10px, 50%);
      background-color: $color_blue;
      margin-right: 10px;
    }
  }
  button {
    @extend %button;
    margin-top: 50px;
    animation: jump 0.8s infinite alternate;
  }
  @keyframes jump {
    0% {
      transform: translateY(0);
      opacity: 0.8;
      box-shadow: none;
    }
    100% {
      transform: translateY(-20px);
      opacity: 1;
      box-shadow: 0 5px 10px $color_white;
    }
  }
  @media screen and (max-width: $size_mobile) {
    .steps {
      width: 340px;
      > div:first-child,
      > div:nth-child(2) {
        > div {
          &::after {
            width: 100px;
          }
        }
      }
    }
  }
}
