$base_gap: 10px;
$color_0: #fff;
$color_1: rgb(242, 199, 192);
$color_2: rgb(240, 187, 181);
$color_3: rgb(222, 167, 180);
$color_4: rgb(170, 127, 157);
$color_5: rgb(119, 94, 135);
$color_6: rgb(101, 87, 112);
$color_7: rgb(153, 138, 169);
$color_8: rgb(250, 221, 165);
$color_9: rgb(253, 195, 147);

main {
    h3 {
        font-weight: bold;
    }
    > section {
        position: relative;
    }
    .button {
        background-color: #fff;
        color: rgb(37, 11, 11);
        display: inline-block;
        padding: 8px 12px;
        cursor: pointer;
    }
    h2 {
        font-family: 'Bree Serif', serif;
        font-weight: bold;
        font-size: 40px;
        color: rgb(101, 87, 112);
        position: relative;
        margin-bottom: 100px;
        &::after {
            content: '';
            width: 150px;
            height: 5px;
            background-color: rgb(170, 127, 157);
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .main {
        color: #fff;
        min-height: 100vh;
        padding-top: 100px;
        // margin-top: -50px;
        // min-height: calc(100vh - 80px);
        // background-image: url('../../image/home/section_13.jpg');
        // background-attachment: fixed;
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        // -webkit-filter: blur(2px);
        h1,
        div {
            position: inherit;
            z-index: 1;
        }
        h1 {
            font-weight: bolder;
            font-size: 50px;
            text-align: center;
            width: 10%;
            // border: 5px solid #fff;
            border-top: 10px solid #fff;
            border-bottom: 10px solid #fff;
            margin: 0 auto;
            box-shadow: 10px 5px 50px black;
            padding: 20px 0;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // background-color: rgba(255, 255, 255, 0.1);
            // background-color: rgba(222, 226, 3, 0.1);
            background-image: url('../../image/home/section_13.jpg');
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-filter: blur(2px);
        }
        @media screen and (max-width: 768px) {
            h1 {
                width: 20%;
            }
        }
    }
    .introduction {
        padding: 80px 30px 50px 30px;
        // width: 70%;
        margin: 0 auto;
        min-height: 80vh;
        h2 {
            margin-bottom: 50px;
            &::after {
                width: 50px;
            }
        }
        div {
            > img {
                width: 180%;
                max-height: 500px;
                object-fit: contain;
            }
        }
        p {
            color: rgb(64, 50, 73);
            background-color: rgba(255, 255, 255, 0.5);
            padding: 1rem 1rem 1rem 2rem;
        }
        // @media screen and (max-width: 992px) {
        //     width: 80%;
        // }
        @media screen and (max-width: 767px) {
            div {
                > img {
                    width: 100%;
                }
            }
        }
    }
    .portfolios {
        padding: 30px 30px 100px 30px;
        min-height: 1px;
        > div {
            max-width: 1140px;
        }
        .content {
            > a {
                display: block;
                text-decoration: none;
                overflow: hidden;
                margin-top: $base_gap * 2;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                > div {
                    cursor: pointer;
                    padding: 1rem;
                    color: #fff;
                    width: 100%;
                    height: 110px;
                    background-color: rgba(0, 0, 0, 0.7);
                    transition: 0.3s;
                    position: absolute;
                    bottom: -110px;
                    left: 0;
                    margin: 0;
                    h5 {
                        font-weight: bold;
                    }
                    p {
                        color: #ccc;
                    }
                    span {
                        display: inline-block;
                        color: $color_1;
                        font-family: 'Bree Serif', serif;
                        font-weight: bold;
                    }
                }
                &:hover {
                    > div {
                        bottom: 0;
                    }
                }
            }
            > a:nth-child(odd) {
                margin-right: $base_gap * 2;
            }
            > a:nth-child(4n + 1),
            > a:nth-child(4n) {
                width: calc(60% - 10px);
                overflow: hidden;
            }
            > a:nth-child(4n + 2),
            > a:nth-child(4n + 3) {
                width: calc(40% - 10px);
            }
            @media screen and (max-width: 768px) {
                > a {
                    width: 100% !important;
                    height: 300px !important;
                    margin: 10px 0 0 0 !important;
                    > div {
                        background-color: rgba(0, 0, 0, 0.3);
                        bottom: 0;
                    }
                }
            }
            @media screen and (max-width: 576px) {
                > a {
                    height: 200px !important;
                }
            }
        }
    }
    .experience {
        padding: 100px;
        background-image: url('../../image/home/section_41.jpg');
        background-attachment: fixed;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        > div:first-child,
        > div:nth-child(3) {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 50px 20px 20px 20px;
            h3 {
                color: $color_4;
            }
        }
        > div:nth-child(3) {
            position: relative;
            background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
            &::after {
                content: '';
                position: absolute;
                top: 90px;
                left: 38px;
                height: 55%;
                width: 2px;
                background-color: $color_6;
            }
            li {
                position: relative;
                list-style: none;
                margin-top: 12px;
                color: #333;
                &::after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -13px;
                    transform: translateX(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $color_6;
                }
                small {
                    color: $color_6;
                    font-size: 12px;
                    font-weight: bolder;
                }
            }
            .goResume {
                margin-top: 80px;
                margin-left: 34px;
                small {
                    color: $color_7;
                    font-weight: bold;
                    line-height: 50px;
                }
                a {
                    display: inline-block;
                    border: 2px solid $color_9;
                    color: $color_9;
                    text-decoration: none;
                    padding: 5px 20px;
                    font-weight: 500;
                    background-color: $color_0;
                    transition: 0.3s;
                    &:hover {
                        background-color: $color_9;
                        color: $color_0;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding: 50px 50px;
            > div:nth-child(2) {
                height: 10px;
            }
        }
    }
    .slider {
        padding: 100px 30px;
        .line {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 200px;
                width: 50px;
                height: 3px;
                background-color: $color_9;
            }
        }
        .circles {
            > div {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 10px;
            }
            > div:first-child {
                background-color: $color_3;
                box-shadow: inset 10px 3px 10px $color_4;
            }
            > div:nth-child(2) {
                background-color: $color_4;
                box-shadow: inset 10px 3px 10px $color_5;
            }
            > div:nth-child(3) {
                background-color: $color_5;
                box-shadow: inset 10px 3px 5px $color_6;
            }
        }
        .sliderBox {
            overflow: hidden;
            position: relative;
            height: 350px;
            .arrow {
                position: absolute;
                top: 0;
                width: 30px;
                height: 250px;
                line-height: 300px;
                background-color: rgba(255, 255, 255, 0.3);
                transition: 0.3s;
                cursor: pointer;
                color: $color_6;
                z-index: 1;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.7);
                }
                svg {
                    width: 30px;
                    height: 50px;
                    stroke-width: 1;
                }
            }
            .arrow.prev {
                left: 0;
            }
            .arrow.next {
                right: 0;
            }
            .arrow.hidden {
                opacity: 0;
                visibility: hidden;
            }
            .container {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.5s;
                .imgBox {
                    box-sizing: border-box;
                    width: 300px;
                    height: 250px;
                    padding: 10px 10px 50px 10px;
                    border: 1px solid #ccc;
                    box-shadow: 5px 10px 10px #ccc;
                    transition: 0.5s;
                    cursor: pointer;
                    > div {
                        width: 100%;
                        height: 180px;
                        overflow: hidden;
                        > img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: 0.5s;
                        }
                    }
                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                > div + div {
                    margin-left: 20px;
                }
            }
        }
        @media screen and (max-width: 768px) {
            padding: 50px 20px;
        }
    }
    // section:last-child {
    //     > div {
    //         height: 300px;
    //     }
    //     > div:first-child {
    //         background-color: $color_5;
    //     }
    //     > div:nth-child(2) {
    //         background-color: $color_4;
    //     }
    // }
    @media screen and (max-width: 768px) {
        h2 {
            margin-bottom: 0px;
        }
    }
}
