.garellyList {
    .imgs {
        display: flex;
        flex-wrap: nowrap;
        max-width: 960px;
        min-height: calc(100vh - 155px);
        margin: 0 auto;
        .colum + .colum {
            margin-left: 16px;
        }
        .colum {
            width: 300px;
            > div {
                width: 100%;
                margin-top: 15px;
                border: 1px solid #fff;
                > img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .trigger {
        height: 100px;
    }
}
