.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
    .container {
        background-color: #fff;
        max-width: 90vw;
        max-height: 90vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: auto;
        border: 1px solid #fff;
    }
    .close {
        text-align: right;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
        > div {
            text-align: right;
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: relative;
            display: inline-block;
            transition: 0.3s;
            span {
                display: block;
                width: 30px;
                height: 4px;
                background-color: #333;
                border-radius: 3px;
                position: absolute;
                top: calc(50% - 4px);
            }
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                transform: rotate(135deg);
            }
            &:hover {
                transform: rotate(30deg);
            }
        }
    }
}
