$color_green: #5be224;
$color_white: #fff;

$basic_size: 8px;
$breakPoint_small: 414px;
$breakPoint_middle: 768px;

@mixin title($size: $basic_size * 8) {
  color: $color_green;
  font-size: $basic_size * $size;
  font-weight: bolder;
  text-shadow: -8px 4px 0 $color_white;
}
@mixin position_ab($x: 0, $y: 0) {
  position: absolute;
  top: $y;
  left: $x;
}

.button {
  background: url("../../../image/F2E_web/button_bgc.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
  &:hover {
    opacity: 0.9;
  }
}
.dataLayout {
  color: $color_green;
  margin-right: $basic_size * 8;
  font-size: $basic_size * 3;
  span {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  > div {
    height: $basic_size * 3;
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      display: block;
      background-color: $color_green;
      transform-origin: top right;
      transform: rotate(-25deg);
    }
  }
  > div + span {
    font-size: $basic_size * 4;
    margin-left: $basic_size * 4;
    font-weight: bold;
  }
}
.wrapper {
  font-family: Cubic;
}
.blockA {
  height: 900px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding-top: $basic_size * 10;
  // padding: 90px 0 0 50px;
  h2 {
    @include title(18);
    @include position_ab(90px, 90px);
    z-index: 1;
  }
  .left {
    width: 50%;
    height: 100%;
    padding-left: $basic_size * 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    p {
      font-size: $basic_size * 4;
      margin-top: -$basic_size * 6;
    }
    img {
      max-width: 100%;
    }
    img.orbit {
      margin-top: $basic_size * 10;
      margin-left: -$basic_size * 8;
      width: $basic_size * 34;
    }
    button {
      margin-top: $basic_size * 8;
    }
    .datas {
      display: flex;
      flex-direction: column-reverse;
      margin-top: $basic_size * 10;
      > div {
        display: flex;
      }
      img.alients {
        width: $basic_size * 28;
        margin-left: -$basic_size * 12;
        margin-top: -$basic_size * 10;
      }
    }
  }
  .right {
    width: 50%;
    background-image: url("../../../image/F2E_web/projector.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    > p {
      transform: translateX(-50%);
      @include position_ab(50%, 10vh);
      @include title(16);
    }
    .star {
      width: 5px;
      height: 5px;
      background-color: $color_white;
    }
    @for $i from 1 through 50 {
      > div:nth-child(#{$i}) {
        $positionX: random() * 100%;
        $positionY: random() * 100%;
        @include position_ab($positionX, $positionY);
        @if ($i % 2) == 0 {
          background-color: $color_green;
        }
        @if ($i % 8) == 0 {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: $breakPoint_middle) {
    padding: 90px 0 0 0;
    .left {
      width: 100%;
      align-items: center;
      padding-left: 0;
      h2 {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }
      .datas {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        img.alients {
          margin-left: 0;
        }
      }
    }
    .right {
      display: none;
    }
  }
}
