// colors
$color_orange: #cfa575;
$color_orange_light: #dfc5a7;
$color_yellow_light: #efe5a4;
$color_yellow_dark: #d2c67a;
$color_green: #4e7b57;
$color_green_light: #a9c1ae;
$color_purple: #8a8ea3;
$color_gray: #cccccc;
$color_gray_dark: #4b4b4b;
$color_white: #fff;
$color_black: #000;
$color_bg_gray: #f1ede9;

// size
$max_width: 1920px;
$size_tablet: 768px;
$size_mobile: 480px;

@mixin rectangle($w, $h, $r: 0, $color: transparent) {
  width: $w;
  height: $h;
  @if ($r != 0) {
    border-radius: $r;
  }
  background-color: $color;
}

@mixin border_font($strock: 1px, $color: $color_black) {
  color: $color_white;
  // text-shadow: -1px 1px 0 $color_black, 1px 1px 0 $color_black,
  //   1px -1px 0 $color_black, -1px -1px 0 $color_black;
  // -webkit-text-stroke-width: $strock;
  -webkit-text-stroke-width: $strock;
  -webkit-text-stroke-color: $color;
}

%Button {
  color: $color_black;
  background-color: $color_white;
  border: 1px solid $color_black;
  font-weight: 900;
  transition: 0.3s;
  &:hover {
    box-shadow: 5px 5px 0 $color_black;
  }
}

.wrap {
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: $color_orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  > div {
    position: relative;
    max-width: 100%;
    padding: 0 1rem;
    img {
      position: absolute;
    }
    .caterpillar {
      width: 127px;
      top: -127px;
      margin-left: -127px;
      left: 0;
    }
    .butterfly {
      width: 227px;
      top: -227px;
      right: -20px;
      transition: 0.3s;
    }
    .progress {
      width: 649px;
      max-width: 100%;
      height: 25px;
      border-radius: 13px;
      background-color: $color_white;
      overflow: hidden;
      position: relative;
      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $color_green;
      }
    }
    span {
      color: $color_black;
      font-size: 32px;
      font-weight: 900;
    }
  }
}

.header {
  border-bottom: 1px solid $color_black;
  color: $color_green;
  max-width: 100%;
  > div {
    width: 100%;
    max-width: $max_width;
    height: 80px;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 900;
      font-size: 32px;
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
      li {
        font-weight: 900;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          text-decoration: underline;
        }
      }
      li + li {
        margin-left: 36px;
      }
      li:last-child {
        background-color: $color_green;
        color: $color_white;
        padding: 10px;
        &:hover {
          box-shadow: 0px 5px 10px $color_green;
        }
      }
    }
    .menu {
      width: 24px;
      height: 24px;
      display: none;
      > svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media screen and (max-width: $size_tablet) {
    > div {
      ul {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

.banner {
  color: $color_black;
  padding: 65px 1rem 0 1rem;
  min-height: 100vh;
  background: url("/image/F2E_web/banner_star.png") no-repeat 3% 30%,
    url("/image/F2E_web/banner_star.png") no-repeat 90% 6%,
    url("/image/F2E_web/parallelogram.png") no-repeat 10% -100px,
    url("/image/F2E_web/parallelogram.png") no-repeat 112% 40%;
  background-color: $color_bg_gray;
  > div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .left,
    .middle,
    .right {
      max-width: 100%;
    }
    .left,
    .right {
      width: 422px;
      height: 335px;
    }
    .left {
      position: relative;
      > p {
        font-weight: 900;
        font-size: 32px;
        color: $color_black;
      }
      > p:nth-child(2) {
        @include border_font(1px);
        display: none;
      }
      > div {
        position: absolute;
        transition: 0.3s;
      }
      .triangle {
        @include rectangle(0, 0);
        border-right: 60px solid transparent;
        border-left: 40px solid transparent;
        border-bottom: 80px solid $color_white;
        transform: rotate(-20deg);
        top: 50px;
        right: 60px;
      }
      .rectangle {
        @include rectangle(100px, 150px, 0, $color_purple);
        transform: rotate(-15deg);
        bottom: 70px;
        right: 20px;
      }
      .circleBig {
        @include rectangle(220px, 111px, 50%, $color_gray);
        transform: rotate(20deg);
        bottom: 70px;
        right: 40px;
      }
      .circlesmall {
        @include rectangle(111px, 72px, 50%, $color_gray);
        top: 100px;
        left: 20px;
        opacity: 0;
      }
      &:hover {
        .triangle {
          top: 30px;
          right: 80px;
        }
        .rectangle {
          bottom: 50px;
        }
        .circleBig {
          bottom: 30px;
          right: 50px;
        }
        .circlesmall {
          opacity: 1;
        }
        > p:first-child {
          display: none;
        }
        > p:nth-child(2) {
          display: block;
        }
      }
    }
    .middle {
      width: 433px;
      height: 276px;
      text-align: center;
      padding-bottom: 200px;
      box-sizing: content-box;
      background: url("/image/F2E_web/banner_title_bcg.png") no-repeat center;
      h2,
      h4,
      h6,
      p {
        font-weight: 900;
        margin: 0;
        transition: 0.3s;
        z-index: 5;
      }
      p,
      h2 {
        @include border_font(2px);
      }
      p {
        font-size: 40px;
        line-height: 40px;
      }
      h2 {
        font-size: 80px;
        line-height: 80px;
      }
      h4 {
        font-size: 48px;
        line-height: 68px;
      }
      h6 {
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        width: 80%;
        margin: 10px auto;
      }
      &:hover {
        h2 {
          text-shadow: 0px 0px 0 $color_black, 0px 0px 0 $color_black,
            0px 10px 0 $color_black, -5px 0px 0 $color_black;
        }
        h6 {
          background-color: $color_white;
        }
      }
      > div {
        &::before {
          content: "";
          @include rectangle(306px, 144px, 50%, $color_green_light);
          position: absolute;
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      > p,
      > div {
        width: 50%;
      }
      > P {
        font-weight: 900;
        font-size: 32px;
        line-height: 38px;
      }
      > .imgBox {
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        > img:first-child {
          transform: rotateY(180deg);
        }
        > img:nth-child(2) {
          display: none;
          object-fit: cover;
          object-position: right bottom;
        }
      }
      > .text {
        display: none;
        > p {
          @include border_font(1px, $color_black);
          font-weight: 900;
          font-size: 32px;
          line-height: 38px;
        }
        > p:first-child {
          text-decoration: line-through;
        }
      }
      &:hover {
        > p {
          display: none;
        }
        > div {
          display: block;
        }
        > .imgBox {
          > img:first-child {
            display: none;
          }
          > img:nth-child(2) {
            display: block;
          }
        }
      }
    }
    @media screen and (max-width: $size_tablet) {
      flex-direction: column;
      align-items: center;
      .middle {
        order: 1;
        width: 100%;
        background-size: 70%;
        padding-bottom: 290px;
        h2 {
          text-shadow: 0px 0px 0 $color_black, 0px 0px 0 $color_black,
            0px 10px 0 $color_black, -5px 0px 0 $color_black;
        }
      }
      .left {
        order: 2;
        > p:first-child {
          display: none;
        }
        > p:nth-child(2) {
          display: block;
        }
        .triangle {
          top: 30px;
          right: 10px;
        }
      }
      .right {
        order: 3;
        > p {
          display: none;
        }
        > .text {
          display: block;
        }
        > .imgBox {
          > img:first-child {
            display: none;
          }
          > img:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
  .applyButton {
    display: block;
    font-size: 20px;
    margin: 0 auto;
    @extend %Button;
  }
  .footer {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
    p {
      font-weight: 900;
      font-size: 80px;
      line-height: 80px;
      color: $color_white;
    }
  }
  @media screen and (max-width: $size_tablet) {
    background: url("/image/F2E_web/banner_star.png") no-repeat 110% 40%,
      url("/image/F2E_web/banner_star.png") no-repeat -10% 70%,
      url("/image/F2E_web/parallelogram.png") no-repeat 50% 110%;
    background-color: $color_bg_gray;
    padding-bottom: 50px;
    .footer {
      display: none;
    }
  }
}

.questions {
  height: 970px;
  padding: 10%;
  background: url("/image/F2E_web/circleWithShadow.png") no-repeat right 80%,
    linear-gradient(
      $color_yellow_light 10%,
      $color_white 10%,
      $color_white 90%,
      $color_yellow_light 90%
    );
  .dots {
    display: flex;
    justify-content: center;
    > div {
      @include rectangle(20px, 20px, 50%, $color_gray);
    }
    > div + div {
      margin-left: 30px;
    }
    > div.active {
      background: $color_yellow_dark;
    }
  }
  .cards {
    display: flex;
    align-items: center;
    height: 600px;
    position: relative;
    overflow: hidden;
    > div {
      width: 30%;
      color: $color_white;
      font-weight: 900;
      font-size: 42px;
      padding: 24px;
      border-radius: 20px;
      position: absolute;
      top: 600px;
      transition: 0.5s;
      text-align: center;
    }
    > div:first-child {
      background-color: $color_orange;
      box-shadow: 20px 20px 0 $color_orange_light;
      right: 20px;
    }
    > div:nth-child(2) {
      background-color: $color_yellow_dark;
      box-shadow: 20px 20px 0 $color_yellow_light;
      left: 50%;
      transform: translateX(-50%);
    }
    > div:nth-child(3) {
      background-color: $color_green;
      box-shadow: 20px 20px 0 $color_green_light;
      left: 0;
    }
    > div:first-child.active {
      top: 0;
    }
    > div:nth-child(2).active {
      top: 30%;
    }
    > div:nth-child(3).active {
      top: calc(60% - 20px);
    }
  }
  @media screen and (max-width: $size_tablet) {
    .dots {
      display: none;
    }
    .cards {
      display: block;
      > div {
        width: calc(100% - 20px);
        left: 0 !important;
        transform: none !important;
      }
    }
  }
  @media screen and (max-width: $size_mobile) {
    .cards {
      > div {
        font-size: 28px;
      }
    }
  }
}

.topic {
  height: 2083px;
  background-image: url("/image/F2E_web/topic_bg.png");
  padding-top: 100px;
  position: relative;
  overflow: hidden;
  .top {
    @include rectangle(90vw, 90vw, 50%, $color_bg_gray);
    margin: 0 auto;
    p {
      font-weight: 900;
      font-size: 80px;
      padding-top: 150px;
      color: $color_gray_dark;
      text-align: center;
    }
    > div {
      height: 50%;
      background: url("/image/F2E_web/topic_clound.png") no-repeat 10% 50%;
      background-size: 200px 120px;
      position: relative;
      > img {
        width: 50%;
        position: absolute;
        top: 100px;
      }
      > img:first-child {
        left: 15%;
      }
      > img:last-child {
        right: 10%;
      }
    }
  }
  .bottom {
    @include rectangle(70vw, 70vw, 50%, $color_orange);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/image/F2E_web/topic_clound.png") no-repeat 90% 46%,
      url("/image/F2E_web/banner_star.png") no-repeat 16% 20%, $color_orange;
    background-size: 180px 120px;
    > p {
      font-weight: 900;
      text-align: center;
    }
    > p:first-child,
    > p:nth-child(2) {
      font-size: 80px;
    }
    > p:nth-child(2) {
      background-color: $color_gray_dark;
    }
    > p:last-child {
      font-size: 40px;
    }
  }
  @media screen and (max-width: $size_tablet) {
    height: 130vh;
    background-size: 100% 130vh;
    .top {
      p {
        padding-top: 100px;
        font-size: 60px;
      }
      > div {
        background-size: 140px 80px;
        > img {
          top: 20px;
        }
      }
    }
    .bottom {
      padding-top: 100px;
      background-size: 120px 80px;
      > p:first-child,
      > p:nth-child(2) {
        font-size: 60px;
      }
      > p:last-child {
        font-size: 28px;
        width: 80%;
      }
    }
  }
  @media screen and (max-width: $size_mobile) {
    height: 100vh;
    background-size: 100% 100vh;
    .top {
      p {
        padding-top: 50px;
        font-size: 30px;
      }
      > div {
        background-size: 100px 60px;
        > img {
          top: 0;
        }
      }
    }
    .bottom {
      top: 50%;
      padding-top: 30px;
      background-size: 100px 60px;
      > p:first-child,
      > p:nth-child(2) {
        font-size: 30px;
      }
      > p:last-child {
        font-size: 16px;
        width: 80%;
      }
    }
  }
}

.stage {
  height: 800px;
  background-color: $color_bg_gray;
  padding-top: 80px;
  cursor: pointer;
  .week {
    height: 200px;
    position: relative;
    overflow: hidden;
    &::before,
    &::after {
      content: "";
      width: 90%;
      height: 1px;
      background-color: $color_black;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    > div {
      position: absolute;
      top: 0;
      left: calc(50% - 225px);
      height: 100%;
      display: flex;
      transition: 0.5s;
      > p {
        font-size: 180px;
        line-height: 100%;
        margin-bottom: 0;
        width: 550px;
        text-align: center;
        color: $color_gray_dark;
        &:hover {
          font-weight: 700;
        }
      }
      > p + p {
        margin-left: 150px;
      }
      > p.active {
        font-weight: 700;
      }
      > p:first-child.active {
        color: $color_yellow_dark;
      }
      > p:nth-child(2).active {
        color: $color_orange;
      }
      > p:nth-child(3).active {
        color: $color_green;
      }
    }
  }
  .info {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: 450px;
    margin: 40px auto;
    > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      .card {
        padding: 20px 0;
        opacity: 0.5;
        height: 412px;
        > p {
          font-weight: 600;
          font-size: 24px;
          line-height: 38px;
          color: $color_gray_dark;
          margin-bottom: 0;
        }
        > p:first-child {
          font-weight: 700;
          font-size: 60px;
          line-height: 80px;
          color: $color_black;
          text-align: center;
        }
        > div {
          height: 76px;
          display: flex;
          align-items: center;
          span {
            font-weight: 700;
            font-size: 24px;
            color: $color_purple;
          }
          span + span {
            margin-left: 16px;
          }
        }
        > button {
          font-size: 20px;
          margin-top: 30px;
          @extend %Button;
        }
      }
      .card.active {
        opacity: 1;
      }
      .card:first-child.active {
        > div {
          span {
            color: $color_yellow_dark;
          }
        }
      }
      .card:nth-child(2).active {
        > div {
          span {
            color: $color_orange;
          }
        }
      }
      .card:nth-child(3).active {
        > div {
          span {
            color: $color_green;
          }
        }
      }
    }
  }
  @media screen and (max-width: $size_tablet) {
    .info {
      > div {
        .card {
          > p:first-child {
            font-size: 50px;
          }
        }
      }
    }
  }
  @media screen and (max-width: $size_mobile) {
    height: 700px;
    .week {
      height: 100px;
      > div {
        > p {
          font-size: 80px;
          line-height: 100px;
        }
      }
    }
    .info {
      > div {
        .card {
          > p {
            font-size: 16px;
            line-height: 28px;
          }
          > p:first-child {
            font-size: 30px;
            line-height: 36px;
          }
          > div {
            height: 50px;
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
